<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Repository Viewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Adam Faryna (https://github.com/adamfaryna)">
  <meta name="description" content="">
  <meta name="robots" content="all">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- bower:css -->
  <!-- endbower -->

  <!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-app="repositoryViewer" ng-strict-di>
<div id="container">
  <header class="main-header">
    <h1>Repository Viewer</h1>
    <span>Karl O'Keeffe</span>
  </header>
  <div id="content" ui-view></div>
  <footer class="main-footer">
  </footer>
</div>

  <!-- bower:js -->
  <!-- endbower -->

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
